{% extends 'digest/temp.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

 
    <div class="row">
    {% for el in hospitals %}
        {% if el.kol_in_page == 1 %}
            </div>
            <div class="row">
        {% endif %}
        <div class="col-md-4">
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ el.Name }}</div>
                <div class="card-body">
                    <p class="card-text">{{ el.Text }}</p>
                </div>
                <div class="card-footer">{{ el.town }}</div>
            </div>
        </div>
        
    {% endfor %} 
    </div>
{% endblock %}
