{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'digest/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'digest/main.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <div>
              <img src='https://img.lovepik.com/element/40133/9938.png_860.png' alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          </div>
          <a class="navbar-brand ml-5" href="{% url 'home' %}">Контроль сахара</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Главная
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Контакты</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}            
            </div>
            <aside class="col md-4">

                <img src="https://liferra.com/wp-content/uploads/2020/02/%D1%81%D0%B0%D1%85%D0%B0%D1%80-%D0%B2-%D0%BA%D1%80%D0%BE%D0%B2%D0%B8-%D0%BA%D0%BB%D0%B5%D1%82%D0%BA%D0%B0-%D1%81-%D0%BA%D1%83%D0%B1%D0%BE%D0%BC-%D1%81%D0%B0%D1%85%D0%B0%D1%80%D0%B0-%D0%B8%D0%BB%D0%BB%D1%8E%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D0%B8-d-126934193-1-1.jpg" class="img-thumbnail">
                <h3>Диабет. Общая информация</h3>
                <a href="https://www.who.int/ru/news-room/fact-sheets/detail/diabetes" target="_blank">
                    <button class="btn btn-primary"">Посмотреть</button>
                </a>

                <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/screenshot-2020-06-22-at-15.00.52_ver_1.png" class="img-thumbnail mt-5">
                <h3>Диета при сахарном диабете</h3>
                <a href="https://jmc.org.ua/wp-content/uploads/2020/06/dieta-pri-saharnom-diabete.pdf" target="_blank">
                    <button class="btn btn-info"">Посмотреть</button>
                </a>
            
            </aside>
        </div>
    </div>
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Главная</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-muted">Контакты</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
</body>
</html>